@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$primaryBg :"#1a20ad";
$primarBtnBg: "#4305F1";
:root{
    --primary-text: rgb(105, 105, 105);
    --secondary-text: #ffff;
    --primary-bg: #fff;
    --secondary-bg:#EAE8F0;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Solway', serif !important;
    text-decoration: none;
}
a{
    color: #ffffff;
}
body{
    background: #ebecec;
    color: #030e1d;
    // color: #c0c0c0;
}


.carousel{

    max-height: 90vh !important;
}