.loader-wrapper {
  // height: 100%;
  // width: 100vw;
  // height: 90dvh;
  height: 100vh;
  display: grid;
  place-items: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;

  div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $primaryBg;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

.watch-loader{
  background: red;
  width: 100%;
  display: grid;
  justify-content: center;
  place-items: center;
  place-content: center;
  border-radius: 50%;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  28px 28px 57px #dedede,
             -28px -28px 57px #ffffff;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


.notification-loader{

  
}