.modal{
    border-radius: 6px;
    background: #ffffff;
    box-shadow:  37px 37px 74px #dedede, -37px -37px 74px #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    .modal-header{
        padding: 10px 15px;
        border-bottom: 1px solid #444141;
        .modal-title{
            
        }

    }
    .modal-body{
        padding: 20px 15px;
    }
    .confirm-modal-body{
        padding: 100px 15px;
        font-weight: 700;
        text-align: center;
    }
    .modal-footer{
        padding: 10px 15px;
        border-top: 1px solid #868282c4;
        min-height: 40px;
    }
    .confirm-modal-footer{
        display: flex;
        justify-content: space-between;
    }
}   
.small{
    width: 90%;
    max-width: 460px;
}
.md{
    width: 90%;
    max-width: 750px;
}
.lg{
    width: 90%;
    max-width: 1000px;
}
.xl{
    width: 90%;
    max-width: 2000px;
}


