/* width */
::-webkit-scrollbar {
    width: 0.3rem !important;
    height: 0.3rem !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(235, 235, 235) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: rgb(184, 184, 184) !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152) !important;
}