.table{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    background: #fff;
    input{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
    thead{
        th{
            border: 1px solid #000;
            position: relative;
            padding: 5px 10px;
        }
        .table-icons{
            // background: red;
        }
    }
    tbody{
        td{
            border: 1px solid #000;
            padding: 5px 10px;
            position: relative;
        }
        .table-icons{
            display: flex;
            // background: red;
            gap: 5px;
            max-width: fit-content;
            svg:first-child{
                color: rgb(0, 56, 135);
            }
            .MuiIconButton-sizeMedium{
                // margin-right: 7px;
                background: linear-gradient(145deg, #e6e6e6, #ffffff) !important;
                box-shadow:  8px 8px 16px #dedede,-8px -8px 16px #ffffff !important;
            }
        }
    
    }
    tfoot{
        
    }
}