$heading: #2d3748;
$headingFontSize: 24px;
$tableHeaderBg: #f7f9fa;
$primaryBg: #061bb0;
$secondaryBg: #e8e8eb;
$primaryTextColor: #4a5568;
$secondaryTextColor: #2d3748;
$blueShade: #f3f5ff;

$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;
$lato: "Lato", sans-serif;
$allura: "Allura", cursive;
$handlee: "Handlee", cursive;
$kristi: "Kristi", cursive;
$aurore: "La Belle Aurore", cursive;
$reenie: "Reenie Beanie", cursive;
$satisfy: "Satisfy", cursive;
$shadows: "Shadows Into Light Two", cursive;
$zeyada: "Zeyada", cursive;

$primaryBorderBg: #f4f4f4;
$primaryBtn: #001bb7;

$headingColor: #2d3748;
$headingSize: 24px;
$headingWeight: 800;

$secondaryHeadingColor: #2d3748;
$secondaryHeadingSize: 20px;
$secondaryHeadingWeight: 700;

$linkColor: #061bb0;
$linkSize: 16px;
$linkWeight: 500;

$border-bg: #e8e8eb;

$subnavigation-tab-font-size: 15px;
$subnavigation-tab-font-weight: 600;

$subnavigation-tab-txt-color: #231f20;
$subnavigation-tab-active-txt-color: #000;

$subnavigation-tabs-contents-bg: #fff;
$subnavigation-tab-active-bg: #ffeb9f;
