@import "../abstracts/variables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Lato:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Allura&family=Handlee&family=Kristi&family=La+Belle+Aurore&family=Reenie+Beanie&family=Satisfy&family=Shadows+Into+Light+Two&family=Zeyada&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,900&family=Solway:wght@300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-allura {
  font-family: $allura;
}

.font-handlee {
  font-family: $handlee;
}

.font-kristi {
  font-family: $kristi;
}

.font-aurore {
  font-family: $aurore;
}

.font-reenie {
  font-family: $reenie;
}

.font-satisfy {
  font-family: $satisfy;
}

.font-shadows {
  font-family: $shadows;
}

.font-zeyada {
  font-family: $zeyada;
}
