
.loading-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    place-items: center;
    outline: none;
    background: #1976d2;
    border-radius: 5px;
}