@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,900&family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


.grey{
    color: #00e1ff;
}
// Header
.slogan{
    color : #082bf5;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
}
.youtube-width{
    width: 30vw;
    margin: 20px; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
}
.youtube-video-container{
    position: relative;
    width: 300px;
    width: 100%;
    padding-bottom: 56.25%;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    
    background-color: #1a20ad ;
    place-items: center;
    .paragraph{
        cursor: pointer;
    }
    div{
        margin: 0px 20px;
    }
    img{
        width: 60px;
    }
}
.landing-section{
    width: 100%;
    background: rgb(12,12,214);
    background: linear-gradient(180deg, rgba(12,12,214,1) 35%, rgba(25,216,255,1) 100%);
    background-image: url('../assets/images/background.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    .sub-text{
        color: #ffffff;
        margin: 10px 10px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 700;
        max-width: 700px;
    }
    padding-top: 10px;
    .title{
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
        margin-left: 40px;
    }
}
.faculty-member-section{
    margin-top: 200px;
    .faculty-members{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
    }
    .title{
        color: #4305F1;
        text-align: center;
    }
    .faculty{
        background:#ffffff;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        width: 280px;
        height: 380px;
        padding: 10px;
        border-radius: 8px;
        margin: 10px;
        text-align: center;
        .paragrpah{
            color: #000000;
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            margin: 20px 0px;
        }
        p{
            margin: 5px 0px;
        }
        button{
            background: #4305F1;
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 3px;
            font-weight: 600;
            color: #ffffff;
            cursor: pointer;
            margin-top: 20px;
        }
    }
    
    .faculty-image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
.avatar-container{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.icon-container{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.black{
    color:#1e0324;
}
.title{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
.abs {
    position: absolute;
}

.icon-section{
    position: relative;
    margin-left: 50%;
    width: 50%;
}
.icon-size{
    width: 150px;
}
.sir-image{
    position: absolute;
    max-width: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -100%;
}
.middle-section{

}
.flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.subject-container{
    display: flex;
    flex-wrap: wrap;
}
.single-subject{
    display: flex;
    place-items: center;
    width: 150px;
    padding: 20px;
    p{
        margin-left: 10px;
        font-weight: 600;
        font-size: 20px;
        color: #170f5f;
    }

}
.circle{
    width: 35px;
    height: 35px;
    background: #002cee;
    border-radius: 50%;
}
.form{
    background: #ffffff;
    padding: 20px 0px;
    width: 90%;
    margin: 50px auto;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);

    input{
        padding: 15px;
        display: block;
        width: 80%;
        margin: auto;
        margin-top: 30px;
        border-radius: 5px;
        border-width: 1px;
    }
    .submit-button{
        background: #1A20AD;
        color: #ffffff;
        font-weight: 700;
        position: relative;
        width: 100px;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
.p0{
    padding: 0px;
}
.notification-container{
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    p{
        padding: 20px;
        height: 130px;
        display: flex;
        justify-content: center;
        place-items: center;
    }
}
footer{
    background: #050b52;
    padding-bottom: 10px;
    .social-media{
        display: flex;
        justify-content: space-around;
        padding: 10px 5px;
    }
    svg{
        color: #ffffff;
        cursor: pointer;
    }
}
.icon1{
    top:-50px;
    right:10px;
}
.icon2{
    top:-30px;
    right:200px;
}
.icon3{
    top:0px;
    right:100px;
    transform: rotate(17deg);
}
.footer{
    width: 100%;
    // background:url('../assets/images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-around;
    min-height: 200px;
    text-align: center;
    .paragraph{
        color: #ffffff;
        text-align: center;
        margin-top: 10px;
    }
}
.paragraph{
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
}
.contact-us{
    margin: 10px 0px;
}

.w10{
    width: 100px;
}
.w15{
    width:150px;
}
.w20{
    width: 200px;
}
.w25{
    width: 250px;
}
.w30{
    width: 300px;
}
.w35{
    width: 350px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
    .youtube-width{
        width: 90vw;
        margin: 20px; 
        box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    }
    .title{
        font-size: 20px;
    }
    .landing-section {
        height: 500px;
        .title{
            font-size: 18px;
        }
        .sub-text{
            font-size: 16px;
        }
    }
    .faculty-member-section{
        .faculty{
            .paragrpah{
                font-size: 22px;
            }
        }
    }
    .icon-size {
        width: 80px;
    }
    .sir-image{
        max-width: 220px;
    }
    .single-subject{
        width: 120px;
        p{
            font-size: 16px;
        }
    }
    .notification-container{
        p{
            height: 150px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .icon1{
        top:-50px;
        right:10px;
    }
    .icon2{
        top:-10px;
        right:200px;
    }
    .icon3{
        top:0px;
        right:100px;
        transform: rotate(17deg);
    }
}
.video-page{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .title{
        font-size: 20px;
    }
    .landing-section {
        height: 490px;
        .title{
            font-size: 18px;
        }
        .sub-text{
            font-size: 16px;
        }
    }
    .youtube-width{
        width: 90vw;
        margin: 20px; 
        box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
    }
    .faculty-member-section{
        .faculty{
            .paragrpah{
                font-size: 22px;
            }
        }
    }
    .icon-size {
        width: 80px;
    }
    .sir-image{
        max-width: 220px;
    }
    .single-subject{
        width: 150px;
        p{
            font-size: 16px;
        }
    }
    .notification-container{
        p{
            height: 150px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .icon1{
        top:-50px;
        right:10px;
    }
    .icon2{
        top:-10px;
        right:200px;
    }
    .icon3{
        top:0px;
        right:100px;
        transform: rotate(17deg);
    }
}
.bold{
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}

.result-template{
    width: 100%;
    height: 90vh;
    // margin: auto;
    iframe{
        width: 100%;
        height: 80vh;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1164px) {
    .landing-section {
        height: 500px;
        .title{
            font-size: 18px;
        }
        .sub-text{
            font-size: 16px;
        }
    }
    .icon-size {
        width: 120px;
    }
    .icon1{
        top:-40px;
        right:10px;
    }
    .icon2{
        top:-10px;
        right:200px;
    }
    .icon3{
        top:0px;
        right:100px;
        transform: rotate(17deg);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

// https://i.ibb.co/vjxqbDY/Group-11-1.png
// https://i.ibb.co/nchRqPV/finaltemplae.png
// https://i.ibb.co/3k2ZyqW/final2.png
.page10{
    background-image: url('https://i.ibb.co/h1YMz0N/Group-12.png');
}
.page{
    width: 650px;
    height: 919px;
    background-color: white;
    margin: 10px auto;
    // background-image: url('https://i.ibb.co/3k2ZyqW/final2.png');
    font-family: 'Roboto Slab';
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    p{
        position: absolute;
        font-family: 'Roboto Slab';
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 12px;
    }
}
// https://i.ibb.co/h1YMz0N/Group-12.png
.name{
    top: 210px;
    left: 150px;
}
.mname {
    top: 242px;
    left: 210px;
}
.fname {
    top: 272px;
    left: 210px;
}
.roll {
    top: 303px;
    left: 150px;
}
.roll-code {
    top: 303px;
    left: 360px;
}
.collage {
    top: 333px;
    left: 320px;
}
.c1 {
    top: 420px;
    left: 100px;
}
.c1fm{
    top: 420px;
    left: 246px;
}
.c1pm {
    top: 420px;
    left: 325px;
}
.c2 {
    top: 440px;
    left: 100px;
}
.c2fm {
    top: 440px;
    left: 246px;
}

.c2pm {
    top: 440px;
    left: 325px;
}
.subject-container{
    position: relative;
    .subject{
        left: 100px;
    }
    .fm{
        left: 246px;
    }
    .pm{
        left: 325px;
    }
    .t{
        left: 395px;
    }
    .p{
        left: 450px;
    }
    .tm {
        left: 525px;
    }

}
.s1{
    top: 420px;
}
.s2{
    top: 440px;
}
.s3{
    top: 530px;
}
.s4{
    top: 550px;
}
.s5{
    top: 570px;
}
.s6{
    top: 635px;
}
.english{
    top:670px;
}
.s7{
    top: 650px
}
.word-total{
    top: 717px;
    left: 200px;
}
.total {
    top: 717px;
    left: 525px;
}
.result{
    top: 740px;
    left: 200px;
}
.date{
    top: 800px;
    left: 150px;
}
.pincode{
    top: 825px;
    left: 150px;
}
.signature{
    width: 100px;
    height: 90px;
    position:absolute;
    top: 740px;
    left: 460px;
}
.download-button{
    padding: 10px 20px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #030e1d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.search-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 2, 58);
    color: #fff;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    .title-2{
        font-weight: 700;
        font-size: 25px;
        text-align: center;
    }
    button{
        padding: 5px 20px;
        margin: 5px auto;
        border-radius: 2px;
        border: 1px solid #fff;
        outline: none;
        background-color: #fff;
        margin-top: 10px;
    }
    input{
        padding: 5px 20px;
        border-radius: 2px;
        border: 1px solid #000;
        outline: none;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 620px){

    .download-button{
        margin-top: 20px;
    }
}
.viewer{
    width: 100%;
    overflow: auto;
}

.demo{
    width: 90%;
    margin: auto;
    input{
        padding: 10px 20px;
        display: block;
    }
}
.student-list {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 5px;
    align-items: center;
    p{
        text-transform: uppercase;
    }
    button{
        padding: 10px 20px;
        outline: none;
        border: none;
        background-color: #050b52;
        color: #fff;
        border-radius: 2px;
    }
}
.search-btn{
    background-color: white;
    border-radius: 2px;
}