@import "./abstracts/variables";

:export {
  poppins: $poppins;
  inter: $inter;
  lato: $lato;
  allura: $allura;
  handlee: $handlee;
  kristi: $kristi;
  aurore: $aurore;
  reenie: $reenie;
  satisfy: $satisfy;
  shadows: $shadows;
  zeyada: $zeyada;
}
